<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ appTitle }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div id="app">
      <page-title
        v-bind:title="appTitle"></page-title>
      <h1 v-bind:title="appTitleHoverMessage">{{ appTitle }}</h1>
      <input type="text" v-model="appTitle">
      <p v-if="showMessage">You found me!</p>
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
      <input type="text" v-model="userInput">
      <button v-on:click="reverseUserInput()">Reverse Message</button>
      <ol>
        <todo-item
          v-for="todo in todos"
          v-bind:todo="todo"
          v-bind:key="todo.id"></todo-item>
      </ol>
      <pre>{{ result }}</pre>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- App -->
    <script src="/app.js"></script>
  </body>
</html>
